body {
  margin: 0;
  font-family: Tahoma;
}

.App {
  display: flex;
}

.main-nav {
  background-color: lightgray;
}

.main-nav li {
  display: inline-block;
  width: 30%;

}

header {
 position: absolute;
 width: 100%;
 top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

thead {
  position: relative;
  top: 30%;
}

img {
  width: 100px;
  height: 100px;
}

th {
  padding: 13px;
}

td {
  padding: 12px;
}

